* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Microsoft YaHei', 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  color: var(--text-default);
  background-color: #121212;

  a {
    color: var(--text-default);
    text-decoration: none;
    transition: color .2s;

    &:hover {
      color: var(--tips-default);
    }
  }
}

.text_nowrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

a {
  padding: 0 0.2rem;
}

.of {
  overflow: hidden;
}

.white_module {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-color: var(--background-default);
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 10px 0 rgba(0, 0, 0, 0.2);

  .module_title {
    height: 15%;
    margin-bottom: .3rem;
    text-align: center;
  }

  .wrapper {
    flex: 1;
    height: 85%;
  }
}

.default_box_shadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


.text_underline_decoration {
  text-decoration: underline !important;
}

.underline_button {
  text-decoration: underline;
  transition: color 0.3s;

  &:hover {
    cursor: pointer;
  }
}

.transparent_button {
  font-family: 'SourceHanSansCN-Light';
  position: relative;
  line-height: 1.2;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  vertical-align: top;

  &:hover {
    color: #c6c9ce !important;
  }

  &:hover.hover_pointer {
    cursor: pointer;
  }

  &.active {
    color: #c6c9ce !important;
  }

  &.disabled {
    color: rgb(95, 88, 88) !important;
    cursor: default !important;
  }
}

.column_flex {
  display: flex;
  flex-direction: column;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
  only iconfont using!
*/
.prevent_iconfont_deformation {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.tac {
  text-align: center;
}

.f1 {
  flex: 1;
}

.por {
  position: relative;
}

.h100 {
  height: 100%;
}

.h90 {
  height: 90%;
}

.h80 {
  height: 80%;
}

.h70 {
  height: 70%;
}

.h60 {
  height: 60%;
}

.h50 {
  height: 50%;
}

.h40 {
  height: 40%;
}

.h30 {
  height: 30%;
}

.h20 {
  height: 20%;
}

.h10 {
  height: 10%;
}

.w100 {
  width: 100% !important;
}

.w90 {
  width: 90% !important;
}

.w80 {
  width: 80% !important;
}

.w70 {
  width: 70% !important;
}

.w60 {
  width: 60% !important;
}

.w50 {
  width: 50% !important;
}

.w40 {
  width: 40% !important;
}

.w30 {
  width: 30% !important;
}

.w20 {
  width: 20% !important;
}

.w10 {
  width: 10% !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}

input[type='number'] {
  -webkit-appearance: none !important;
}