---
import "@/assets/fonts/posts/iconfont.css";
---

<div class="posts_info">
  <h1 class="title">昏睡雷普！野兽化的先辈！</h1>
  <div class="time">
    <i class="iconfont icon-24gl-calendar"></i>
    1919年8月10日 11:45:14
  </div>
  <div class="info">
    <i class="iconfont icon-editor"></i>
    114K字
    <i class="iconfont icon-24gl-clockCircle"></i>
    514分钟
  </div>
  <div class="categories">
    <i class="iconfont icon-categories">
      <span>生活</span>
    </i>
    <div class="label">
      <i class="iconfont icon-24gl-tags2"><a href="#">测试</a></i>
    </div>
  </div>
  <div class="tips">
    本文距离上次发布更新已经过去了 114514 天，请注意文章的时效性！
  </div>
</div>

<style lang="scss">
  .posts_info {
    display: flex;
    flex-flow: column nowrap;
    // justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 0.2rem;

    .time {
      font-size: 0.9rem;
      color: #777;
    }

    .title {
      font-size: 1.8rem;
    }

    .info {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .categories {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      a {
        color: var(--text-default);
      }

      .iconfont.icon-categories {
        margin-right: 0.4rem;
        span {
          margin: 0 0.1rem;
        }
      }
    }

    .tips {
      padding: 0.8rem 1.2rem;
      background-color: rgba(255, 230, 0, 0.25);
      border-radius: 0.6rem;
    }
  }
</style>
