---
import RoundButton from "./RoundButton.astro";
---

<div class="toc">
  <RoundButton>
    <i class="iconfont icon-sort"></i>
  </RoundButton>
</div>

<style lang="scss">
  .toc {
    position: sticky;
    top: 4rem;
    right: 0;
    height: 0;
    bottom: 4rem;
  }
</style>
