---
---

<div class="toc">
  <div class="icon"></div>
</div>

<style lang="scss">
  .toc {
    position: sticky;
    top: 5rem;
    right: 0;
    height: 0;

    .icon {
      position: absolute;
      top: 0;
      right: -3rem;
    }
  }
</style>
