---
import cfg from "blog.config";
import BaseLayout from "@/layouts/BaseLayout.astro";
import BlogInfo from "@/components/BlogInfo.astro";
---

<BaseLayout>
  <div style="width: 20rem;margin: 0 auto;">
    <!-- <BlogInfo horizontal={false} /> -->
  </div>
</BaseLayout>
