---
import BaseLayout from "@/layouts/BaseLayout.astro";

const TestWord = [];

const wordList = [
  "烫烫烫",
  "锟斤拷",
  "前端",
  "Astro",
  "后端",
  "vue",
  "react",
  "先辈",
  "李田所",
  "114514",
  "1919810",
  "下北泽",
  "会员制餐厅",
  "好好好",
  "mysql",
  "pinia",
  "番剧",
  "生活",
  "棍之勇者",
  "明日方舟",
  "hiiro",
  "压缩毛巾",
  "threejs",
  "tailwind",
  "UI",
  "java",
];

const sizelist = ["s", "m", "l", "xl"];

for (let i = 0; i < 100; i++) {
  TestWord.push({
    content: wordList[i % (wordList.length - 1)],
    size: sizelist[Math.round((sizelist.length - 1) * Math.random())],
  });
}
---

<BaseLayout title={`标签 - `}>
  <div class="tags flex_center">
    <div class="wrapper white_module">
      {
        TestWord.map((val) => {
          return (
            <a href="/" class={`word ${val.size}`}>
              {val.content}
            </a>
          );
        })
      }
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  .tags {
    margin: 6rem 0;
    .wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      width: 70%;
      min-height: 30rem;
      padding: 5rem;
      font-size: 1.4rem;

      .word {
        color: var(--tips-default);
        opacity: 0.75;
        transition: opacity 0.3s;

        &:hover {
          opacity: 1;
        }

        &.s {
          font-size: 0.7em;
        }

        &.m {
          font-size: 0.9em;
        }

        &.l {
          font-size: 1.1em;
        }

        &.xl {
          font-size: 1.4rem;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .tags {
      .wrapper {
        padding: 2rem;
        width: 90%;
      }
    }
  }
</style>
