---
// import { DARK_MODE } from "@/constant/LocalStorage";
---

<div class="theme_switch flex_center" data-theme-switch>
  <i class="iconfont icon-sun1"></i>
  <i class="iconfont icon-moon"></i>
</div>

<script>
  /**
   * DARK_MODE = 'dark'
   */
  const DARK_MODE = "dark";

  const t = document.querySelectorAll("[data-theme-switch]"),
    state = localStorage.getItem(DARK_MODE);

  function SwitchState(choose: boolean) {
    document.querySelector("html")!.setAttribute("class", choose ? "dark" : "");

    t.forEach((e) => {
      let finalState = "",
        sourceClass = e.getAttribute("class")!;
      if (choose) {
        finalState = sourceClass + " dark";
      } else if (/dark/.test(sourceClass)) {
        finalState = sourceClass.replaceAll("dark", "");
      }
      e.setAttribute("class", finalState);
    });

    localStorage.setItem(DARK_MODE, choose + "");
  }

  console.log(t);

  let FinalState = state === "true";

  if (FinalState == true) SwitchState(true);

  t.forEach((v) =>
    v.addEventListener("click", () => {
      SwitchState((FinalState = !FinalState));
    })
  );
</script>

<style lang="scss">
  .theme_switch {
    padding-left: 0.4rem;

    .iconfont {
      color: var(--text-default);
      cursor: pointer;

      &:hover {
        color: var(--tips-default);
      }

      &.icon-sun1 {
        display: block;
      }

      &.icon-moon {
        display: none;
      }
    }

    &.dark {
      .icon-sun1 {
        display: none;
      }
      .icon-moon {
        display: block;
      }
    }
  }
</style>
