---
---

<a class="back_to_top w100 h100" href="#" id="BackToTopButton">
  <div class="arrowup"></div>
</a>

<script>
  // document
  //   .getElementById("BackToTopButton")
  //   ?.addEventListener("click", () => (window.location.pathname  = window.location.pathname+ "/"));
</script>

<style lang="scss">
  .back_to_top {
    display: flex;
    justify-content: center;
    align-items: center;

    .arrowup {
      display: block;
      width: 0.8rem;
      height: 0.8rem;
      border: 0.1rem solid #555;
      border-top: none;
      border-top-width: medium;
      border-right: none;
      border-right-width: medium;
      transform: translateY(35%) rotate(135deg);
      cursor: pointer;
    }
  }
</style>
