---
export interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<div class="white_module">
  <div class="module_title">{title}</div>
  <div class="wrapper">
    <slot />
  </div>
</div>
