---
import cfg from "blog.config";
import "@/assets/fonts/social/iconfont.css";
const { link } = cfg.UserInfo;
---

<div class="social">
  {
    link.map((val) => {
      return (
        <a href={val.link} target="_blank">
          <i class={val.class} />
        </a>
      );
    })
  }
</div>

<style lang="scss">
  .social {
    .iconfont {
      font-size: 1.2rem;
    }
  }
</style>
