---
import cfg from "blog.config";
const { link } = cfg.UserInfo,
  {
    WebsiteSettings: { base },
  } = cfg;
---

<link rel="stylesheet" href={base + "/fonts/social/iconfont.css"} />
<div class="social">
  {
    link.map((val) => {
      return (
        <a href={val.link} target="_blank" aria-label={val.class}>
          <i class={val.class} />
        </a>
      );
    })
  }
</div>

<style lang="scss">
  .social {
    .iconfont {
      font-size: 1.8rem;
    }
  }
</style>
